 

.bar-widget {
    background-color: rgba(23, 23, 23, 0.8);
    padding: 5px 1px; // Very slim vertical padding
   // margin: 0px 4px;
    //border-radius: 999px;
    border-top: 1px solid rgba(255, 255, 255, 0.169);
}

// Theme matching
// .bar-widget {
//     background-color: $glass-bg;  
//     padding: 2px 1px; // Very slim vertical padding
//     margin: 0px 4px;
//     border-radius: 999px;
//     border: 1px solid rgba(255, 255, 255, 0.05);
// }

.taskbar {
    background-color: $bg-glass;
    border-radius: 16px;
}

.app_item { 
    margin: 0 1px;
    padding: 4px; // Small padding for a 24px icon
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.2s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }

    &.active {
        background-color: $active-bg;
        // Small dot indicator instead of a big bar for 24px size
background-image: linear-gradient(to top, $accent 3px, transparent 3px);    }
}

.app_icon {
    /* Clamping to 24px */
    min-width: 24px; 
    min-height: 24px;
}